<h1>Cook County COVID deaths appear underreported</h1>
<p>All recorded deaths since January 1st 2020: {{allDeaths}}</p>
<p>All recorded deaths in 2019: {{deathsInReferenceYear}}</p>

<p>Expected recorded deaths without COVID since January 1st 2020: {{expectedDeaths}}</p>
<p>Reported COVID deaths: {{reportedDeaths}}</p>

<p>Excess deaths that were not COVID deaths: {{unexpectedDeaths}}</p>

<a href='https://github.com/imokaythanks/cook-county-covid'>https://github.com/imokaythanks/cook-county-covid</a>